doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{docTitle}
    link(rel="stylesheet", href="/css/main.css")
    block styles
  body
    header.main-header
      nav
        ul
          li
            a(href="/") Shop 
          li  
            a(href="/admin/add-product") Add product
    main
      block content